
#next ,#prev {
    transform: scale(2);
}
.slider-img {
    display: none;
    width: 600px;
    aspect-ratio: 1;
    overflow: hidden;
    transition-duration: 500ms;
}


.active {
    display: block;
    border: 4px solid #003cff;
    border-radius: 25px;
    order: 3;
    box-shadow: 0px 0px 16px #003cff;
}